.SearchForm {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 600px;
	background-color: #fff;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 8px;
}
.SearchFormInput {
	display: inline-block;
	width: 100%;
}
